header{
  height: 120px;
  background-color: #8A25B1;
  color: #74D14C;
}
footer{
  height: 50px;
  background-color: #74D14C;
}
body{
  background-color: #EEE8F2;
}
img{
  height: 70px
}
a:link{
  color: #8A25B1;
}
table{
  border-width: 8;
  border-style: solid;
  border-color: #74D14C;
  width: 600px;
}
#een{
  background-color: green;
}
#twee{
  background-color: grey;
}
#drie{
  background-color: purple;
}
#vier{
  background-color: orange;
}
#vijf{
  background-color: white;
}
#zes{
  background-color: aqua;
}
#zeven{
  background-color: blue;
}
#acht{
  background-color: lime;
}
#negen{
  background-color: yellow;
}
#tien{
  background-color: black;
}
#elf{
  background-color: pink;
}
#twaalf{
  background-color: olive;
}
#dertien{
  background-color: red;
}
#veertien{
  background-color: teal;
}
#vijftien{
  background-color: brown;
}
#zestien{
  background-color: silver;
}
